/*HEADER*/
.tamLogo {
    width: 50%;
}


.anclaColorFondo {
    background-color: black;
}

.navbar {
    background-color: black;
}

/*FORMULARIO DE REGISTRO*/

.botonRegistro {

    background-color: #eaee2b;
}

/*CARROUSEL*/

.letraCarrousel {
    color: black;
    background-color: #eaee2b;
    text-align: center;
    border-color: blanchedalmond;
    border-width: 10%;
}

